@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: Poppins, sans-serif;
  --text-color: white;
  --green-app-color: #7bff8c;
  --blue-enfasis-bg: #000f2c75;
  --standard-btn-bg: #fbfbfb10;
  --enfasis-color: #1c335e;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to right, #0c1628 8%, #1c335e 72%, #2a4d8e 100%);
  max-width: 1240px;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
}

/* Estilos del header */

header {
  max-width: 1240px;
  position: sticky;
  top: 10px;
  z-index: 99;
}

.inner-header-container {
  position: absolute;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue-enfasis-bg);
  border-radius: 12px;
  backdrop-filter: blur(10px);
}

header img {
  width: 50px;
}

header nav ul {
  display: flex;
  gap: 10px;
}

header nav ul li {
  list-style: none;
  color: white;
  font-size: 0.85rem;
}

.header-link {
  display: inline-block;
  padding: 4px 30px;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.header-link:hover {
  color: var(--green-app-color);
  transform: scale(1.5);
}

/* Estilos del Hero */

.main-hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  text-align: center;
}

.main-hero img {
  width: 180px;
  border-radius: 100%;
}

h3 {
  font-size: 2.5rem;
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 20px;
  line-height: 3.5rem;
  text-wrap: balance;
}

h1 {
  color: var(--text-color);
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 4rem;
  text-wrap: balnace;
  margin-top: -20px;
}

h1 span {
  color: var(--green-app-color);
}

.btn-container {
  display: flex;
  gap: 20px;
}

.btn-container a {
  width: fit-content;
  padding: 10px;
  background-color: var(--standard-btn-bg);
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 8px;
  gap: 10px;
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.3s ease-in-out;
}

.btn-container a:hover {
  transform: scale(1.15);
}

.btn-container a img {
  width: 28px;
}

/* Estilos del About Section */

.about-section {
  width: 100%;
  padding: 120px 80px;
  display: flex;
  gap: 80px;
}

.about-section div {
  flex: 1;
}

.about-section div img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  border-radius: 16px;
}

.about-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.custom-tag {
  width: fit-content;
  background-color: var(--green-app-color);
  border-radius: 100px;
  padding: 8px 16px;
  font-size: 0.85rem;
  color: var(--enfasis-color);
  font-weight: 600;
}

p {
  color: var(--text-color);
}

/* Estilos de la seccion Portafolio */

.portfolio-section {
  padding: 120px 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

/* Estilos del Grid del Portafolio */
h4 {
  color: var(--text-color);
  font-size: 1.75rem;
  font-weight: 400;
}

h5 {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 400;
}

.portfolio-grid {
  padding: 40px 0;
  width: 100%;
  display: grid;
  gap: 40px 20px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto auto;
  text-align: start;
  grid-template-areas:
    "a a b b c c c"
    "d d d e e f f";
}

.portfolio-grid article {
  display: flex;
  flex-direction: column;
  min-height: 320px;
  gap: 14px;
  padding: 20px;
  background-color: var(--blue-enfasis-bg);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.portfolio-grid img {
  width: 100%;
  border-radius: 10px;
}

.card-description {
  font-size: 14px;
  text-wrap: balance;
}

.grid-item-1 {
  grid-area: a;
}
.grid-item-2 {
  grid-area: b;
}
.grid-item-3 {
  grid-area: c;
  margin: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.grid-item-4 {
  grid-area: d;
}
.grid-item-5 {
  grid-area: e;
}
.grid-item-6 {
  grid-area: f;
}

.portfolio-grid article:hover {
  transform: scale(1.05);
  background-color: var(--enfasis-color);
}
